# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Project-specific ignores
**/(code_compare)
**/.code_compare
**/.ground_zero
**/CodeSnapshot.txt
**/devx.ps1
**/notes*.md
**/Properties/launchSettings.json
**/todo*.md
!TODO.md

publish/

# System files
**/.DS_Store
**/[Tt]humbs.db
**/[Dd]esktop.ini

# Visual Studio
**/.vs/
**/[Bb]in/
**/[Oo]bj/
**/*.suo
**/*.user

# Test tools
**/coverage/

# Angular
**/.angular/cache/
**/typings/

# Node
**/node_modules/
**/npm-debug.log*

# Compiled output
**/dist/
**/tmp/
**/.sass-cache/

# Logs
**/logs/
**/*.log